<!-- post details -->

	<div class="uk-padding-large" uk-grid>
		<div class="uk-card uk-card-default uk-card-body uk-padding-remove">
			<img src="<%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "untitled" %>" />
		</div>
	</div>

	<div uk-grid>
		<!-- title -->
		<div class="uk-width-1-3@m uk-padding-large uk-padding-remove-top uk-text-right">
			<h1 class="uk-article-title"><%- item.title || theme.default_post_title || "untitled" %></h1>
			<h3 class="uk-article"><%- item.description || " " %></h3>
		</div>
		<!-- auto responsive content -->
		<div class="uk-width-expand@m uk-padding-large uk-padding-remove-top">
			<p class="uk-artilce"><%- item.content %></p>
			<p class="uk-article-meta">发布于&nbsp;<%- item.date.format(theme.date_format) %></p>
			<p class="uk-article-meta">更新于&nbsp;<%- item.updated.format(theme.date_format) %></p>
		</div>
	</div>

<!-- end post details -->